/* CarouselComponent.css */

.carousel {
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel */
  }
  
  .carousel img {
    height: 600px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure images cover the area without stretching */
  }
  