/* CarouselComponent.css */

.carousel {
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel */
  }
  
  .carousel img {
    height: 600px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure images cover the area without stretching */
  }
  
.navbar {
    background-color: #e2fffa;
}
.navHome {
    background-color: #e2fffa;
}
.navbar-brand{
    color: #0c4151
}

.d-inline-block {
    margin-right: 10px;
}

.navText {
    width: 800px;
    color: #0c4151;
}
.navDiv {
    display: flex;
    justify-content: center; 
    align-items: center;
}

pre {
   color: #0c4151
}
.display-6 {
  color: #0c4151
}

form{
    width: 500px;
   color: #0c4151
}

.btn {
    background-color: #0c4151;
    color: #e2fffa;
}
.backgroundContainer{
    background-color: #e2fffa;
    height: 100%;
}